lc-df-racehorse-model/src/main/resources/ServiceSchema/Content/RacingContent/RaceHorse/1.0/RaceHorseService.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://services.ladbrokes.co.uk/service/content/racingcontent/RaceHorse/1.0"
	 xmlns:rch="http://services.ladbrokes.co.uk/service/content/racingcontent/RaceHorse/1.0"
	 xmlns:cmnMsg="http://services.ladbrokes.co.uk/service/CommonMessage/2.0"
	 xmlns:hrc="http://cdm.ladbrokes.co.uk/content/RacingContent/1.0"
	 targetNamespace="http://services.ladbrokes.co.uk/service/content/racingcontent/RaceHorse/1.0"
	 elementFormDefault="unqualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://cdm.ladbrokes.co.uk/content/RacingContent/1.0" schemaLocation="../../../../../CDM/RacingContent/1.0/RacingContent.xsd"/>
	<xs:import namespace="http://services.ladbrokes.co.uk/service/CommonMessage/2.0" schemaLocation="../../../../../CDM/CommonMessage/2.0/CommonMessage.xsd"/>
	<xs:element name="ArrayOfHorse" type="rch:ArrayOfHorse"/>
	<xs:complexType name="ArrayOfHorse">
		<xs:sequence>
			<xs:element name="horse" type="hrc:Horse" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GetHorseRequest">
	<xs:complexType >
		<xs:complexContent>
			<xs:extension base="cmnMsg:GetRequest">
				<xs:sequence>
					<xs:element name="includeForm" type="xs:boolean"  minOccurs="0"/>
					<xs:element name="horse" type="hrc:Horse" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	</xs:element>
	<xs:element name="GetHorseResponse" >
	<xs:complexType>
		<xs:complexContent>
			<xs:extension base="cmnMsg:GetResponse">
				<xs:sequence>
					<xs:element name="horses" type="rch:ArrayOfHorse" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	</xs:element>
</xs:schema>